.App {
  text-align: center;
  padding: 10px;
}

.App-header {
  background-color: #393d46;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.App-inputs {
  background-color: rgb(206, 129, 154);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.App-result {
  /* background-color: rgb(137, 151, 202); */
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.App-result .name {
  background-color: rgb(241, 212, 188);
  padding: 10px;
}

.App-result .location {
  background-color: rgb(129, 71, 24);
  padding: 10px;
}

.App-result .reviews {
  background-color: rgb(44, 24, 8);
  color: white;
  padding: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.App-button {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

.App-button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

.App-button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;
}

.App-link {
  color: #61dafb;
}

@import "./../node_modules/react-toggle-switch/dist/css/switch.min.css"
